<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>project1</display-name>
	<welcome-file-list>
		<welcome-file>/bodycontent/authentication/login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>sessionloginservlet</servlet-name>
		<servlet-class>project1.servlet.SessionLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessionloginservlet</servlet-name>
		<url-pattern>/sessionloginservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutservlet</servlet-name>
		<servlet-class>project1.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutservlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>project1.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
</web-app>